<div class="wrapper">
  <div class="container include-navbar">
    <div class="header">
      <h1>My Questions</h1>
      <div id="add-question">
        <%= link_to "Add Question", new_user_question_path(@user), class: "btn btn-success", remote: true %>
      </div>
    </div>
    <hr>
    <%= react_component 'QuestionList', render(template: 'questions/questions.json.jbuilder') %>
  </div>
</div>
