// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  background: #78C0E0;
  background-size: cover;
  min-height: 962px;
}
.header {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  h1 {
    font-weight: bold;
  }
}
#add-question {
  margin-top: 25px;
}
.card {
  position: relative;
  height: 220px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  border-radius: 2px;
  background-size: cover !important;
  background: white;
  text-align: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-button {
  margin-top: 30px;
}
.card-answer {
  margin: 0 auto 12px auto;
  text-align: center;
}
.card-buttons {
  position: absolute;
  top: 8px;
  right: 12px;
  a {
    font-size: 18px;
    margin: 0 5px;
  }
}
.form label {
    font-size: 20px;
}
.form-field {
  margin: 5px 0;
  width: 175px;
}
@media (min-width: 992px) {
  .form-field {
    margin: 5px 0;
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .form-field {
    margin: 5px 0;
    width: 350px;
  }
}
.form-submit {
  margin-top: 20px;
}
.question-label {
  margin-right: 10px;
}
.answer-label {
  margin-right: 23px;
}
.invisible {
  display: none;
  margin-top: 0
}
