#end-quiz {
  margin-top: 25px;
}
.answer-input {
  margin-top: 20px;
}
.check-answer {
  margin-top: 15px;
  font-size: 20px;
}
.correct {
  border: 4px solid #92D050;
}
.incorrect {
  border: 4px solid #FF0202;
}
